.landing__section {
  background: url('../../../public/images/about/landingContentBg.png');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20vh;
  width: 98vw;
  text-align: center;
}

.landing__section__info h1 {
  position: relative;
}

.landing__section__info h1::after {
  content: '';
  position: absolute;
  top: 0;
  right: -2rem;
  height: 100%;
  width: 0.3rem;
  background: var(--color-black);
}
.landing__section__info h1::before {
  content: '';
  position: absolute;
  top: 0;
  left: -2rem;
  height: 100%;
  width: 0.3rem;
  background: var(--color-black);
}
