.feature {
  margin: 4rem auto;
}

.firstRow {
  display: flex;
  justify-content: space-evenly;
  gap: 2rem;
  margin: 2rem 0;
}

.secondRow {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30vw;
  gap: 1rem;
  border: 1px solid var(--color-orange);
  box-shadow: var(--light-shadow);
  padding: 2rem;
  border-radius: var(--radius);
  text-align: center;
}

.header h3 {
  font-weight: bold;
}

.icon {
  width: 4rem;
  height: fit-content;
}

.icon > img {
  width: 100%;
  height: inherit;
}

/* ========================== MEDIA QUERIES FOR SMALL DEVICES =====================  */

@media screen and (max-width: 700px) {
  .card {
    width: 90vw;
  }
  .firstRow,
  .secondRow {
    flex-direction: column;
  }
}
