.landingForm {
  background-color: #f1f1f1;
}

.landingForm__container {
  display: grid;
  grid-template-columns: 55% 40%;
  gap: 3rem;
  color: var(--color-black);
  padding: 0.7rem;
}

.map > iframe {
  width: 100%;
  height: 30rem;
  border-radius: 1rem;
}

.landingForm__container_form {
  padding: 3rem;
}
.form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.landingForm__container_form h2 {
  font-weight: 600;
  margin-bottom: 2rem;
}

.form_inputs {
  display: flex;
  gap: 1rem;
}

.landingForm__container_form input {
  width: 100%;
  height: 3rem;
  padding: 2rem 1rem;
  background: #f6f7f9;
  font-size: 1rem;
  border-radius: 1rem;
  box-shadow: inset 2px 2px 0 rgba(0, 0, 0, 0.25);
}

.input_box {
  position: relative;
  flex: 1;
}

.radios input[type='checkbox'] {
  height: 1rem;
  width: 1rem;
}

.single_radio {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.input_box label {
  position: absolute;
  top: 1rem;
  left: 0.6rem;
  transition: all 250ms ease;
  color: #757575;
  padding: 0 1rem;
  cursor: text;
}

.input:focus ~ label,
.input:not(:placeholder-shown).input:not(:focus) ~ label {
  top: -1rem;
  left: 0.8rem;
  background: var(--clr-grey-special);
}

.landingForm__container_form textarea {
  padding: 2rem 1rem;
  font-size: 1rem;
  width: 100%;
  border-radius: 1rem;
  background: #f6f7f9;
  box-shadow: inset 2px 2px 0 rgba(0, 0, 0, 0.25);
}

.landingForm__container_form button {
  font-size: 1.2rem;
  width: fit-content;
  padding: 1rem 2rem;
  background-image: linear-gradient(
    to right top,
    #009300,
    #017f02,
    #026b03,
    #035804,
    #034503
  );
  border-radius: 2rem;
  color: var(--color-white);
  transition: var(--transition);
  cursor: pointer;
}

.landingForm__container_form button:hover {
  background-image: linear-gradient(
    to right top,
    #035804,
    #034503,
    #017f02,
    #009300,
    #026b03
  );
}

.contact_info {
  margin: 2rem 0 1rem;
}

.contact_info h2 {
  font-weight: 600;
}

.contact_icon {
  margin-right: 0.5rem;
}

.officeInfo {
  margin: 1rem 0;
}

.status {
  position: relative;
  margin-top: 1rem;
}

.status h3 {
  margin-left: 3rem;
}

.circle {
  position: absolute;
  top: 0;
  left: 0;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
}
/* ========================== MEDIA QUERIES FOR MEDIUM DEVICES =====================  */

@media screen and (max-width: 990px) {
  .landingForm__container {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 700px) {
  .landingForm__container_form {
    padding: 1rem;
  }
  .input_box label {
    font-size: 0.8rem;
  }
}
