.card {
  width: 70vw;
  margin: 2rem auto;
  box-shadow: 4px 4px 8px 5px rgba(0, 0, 0, 0.2);
  padding: 1rem 2rem;
  border: none;
  border-radius: var(--radius);
}

.card button {
  padding: 0.5rem 1rem;
  background-color: var(--color-dark-green);
  color: var(--color-white);
  border-radius: var(--radius);
  margin: 0.5rem 0;
  cursor: pointer;
}

.card button:hover {
  background-color: var(--color-green);
}
