.heroSection {
  background: url('../../../public/images/about/about12.webp');
  background-size: cover;
  background-position-y: 25%;
  height: 90vh;
  width: 100%;
  overflow-x: hidden;
}

.content__container {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  color: var(--color-white);
  line-height: normal;
  display: flex;
  align-items: center;
}

.content {
  width: 60%;
}

.header h1 {
  font-size: 4rem;
  width: fit-content;
}

.header h1::after {
  content: '';
  display: block;
  width: 4rem;
  height: 0.3rem;
  background: var(--color-orange);
}

.content p {
  text-align: justify;
  font-size: 1.5rem;
  line-height: 1.2;
  margin: 2rem 0;
}

.container__fluid {
  width: var(--container-width-lg);
  margin: 0 auto;
}

.btn__container {
  display: flex;
  gap: 2rem;
}

.btn {
  padding: 0.9rem;
  border: none;
  border-radius: var(--radius);
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: 500;
}

.btn:nth-child(1) {
  background: var(--color-orange);
  color: var(--color-white);
  transition: var(--transition);
}

.btn:nth-child(1):hover {
  background: var(--color-white);
  color: var(--color-orange);
}

a ~ .btn {
  border: 1px solid var(--color-white);
  background: transparent;
  color: var(--color-white);

  transition: var(--transition);
}

a ~ .btn:hover {
  background: var(--color-white);
  color: var(--color-black);
}

/* ========================== MEDIA QUERIES FOR MEDIUM DEVICES =====================  */

@media screen and (max-width: 990px) {
  .content {
    width: 90%;
  }
  .content h1 {
    font-size: 3rem;
  }
}

/* ========================== MEDIA QUERIES FOR small DEVICES =====================  */

@media screen and (max-width: 600px) {
  .heroSection {
    background-position-x: 25%;
  }
  .content h1 {
    font-size: 2rem;
  }
  .content p {
    font-size: 1rem;
  }

  .btn {
    font-size: 1rem;
  }
}
