.landing__container {
  height: 95vh;
  width: 100%;
  position: relative;
  background-color: rgba(0, 0, 0, 0.4);
  overflow: hidden;
}

.back {
  position: absolute;
  top: 1rem;
  right: 2rem;
  z-index: 1;
  height: 28rem;
  width: 30rem;
}

.back > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: var(--radius);
}

.middle {
  position: absolute;
  height: 28rem;
  width: 30rem;
  top: 1rem;
  left: 2rem;
  z-index: 1;
}

.middle > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: var(--radius);
}

.content {
  position: absolute;
  padding: 2rem;
  width: 40vw;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  top: 5rem;
  background-color: var(--color-white);

  border-radius: var(--radius);
  color: var(--color-black);
  z-index: 2;
  text-align: justify;
}

.header {
  position: relative;
  margin-bottom: 1rem;
  width: fit-content;
}

.header h1 {
  color: var(--color-orange);
}

.underline {
  background: var(--color-orange);
  width: 4rem;
  height: 0.3rem;
  position: absolute;
  bottom: -0.3rem;
  left: 0;
  transition: var(--transition);
}

.content:hover .underline {
  width: 100%;
}

.background {
  position: absolute;
  width: 100%;
  height: 100%;
  background: url('../../../public/images/about/about3.webp');
  background-color: rgba(0, 0, 0, 0.1);
  background-position: 25%;
  background-size: cover;
  bottom: 0;
  left: 0;
  z-index: -3;
  overflow: hidden;
}

/* ========================== MEDIA QUERIES FOR MEDIUM DEVICES =====================  */

@media screen and (max-width: 990px) {
  .content {
    top: 4rem;
    width: 50vw;
  }

  .back {
    width: 25rem;
  }

  .middle {
    width: 25rem;
  }
}

/* ========================== MEDIA QUERIES FOR MEDIUM DEVICES =====================  */

@media screen and (max-width: 700px) {
  .header h1 {
    font-size: 2rem;
  }

  .desc p {
    font-size: 0.9rem;
  }

  .content {
    width: 90vw;
  }

  .back {
    display: none;
  }

  .middle {
    display: none;
  }
}

@media screen and (max-width: 500px) {
  .landing__container {
    height: 100vh;
  }

  .content {
    width: 95vw;
    top: 3rem;
  }
}
