.sidebar {
  font-size: 2rem;
  cursor: pointer;
  position: fixed;
  top: 12rem;
  background-color: var(--color-orange);
  left: 0;
  padding: 1rem;
  border-radius: var(--radius);
}

.icons_lists {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

.link {
  color: var(--color-black);
  transition: var(--transition);
}

.link:hover {
  color: var(--color-white);
}

.active {
  color: white;
}
