.intro__container {
  margin: 2rem 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.left span {
  color: var(--color-orange);
  font-size: 2rem;
}

.left h2 {
  font-size: 2.2rem;
  line-height: normal;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.header h2,
.header span {
  font-size: 2rem;
  width: fit-content;
}

.header h2::after {
  content: '';
  display: block;
  width: 4rem;
  height: 0.3rem;
  background: var(--color-orange);
}
.left p {
  color: var(--color-light);
  font-size: 1.2rem;
  text-align: justify;
}

.right {
  text-align: justify;
}

/* ========================== MEDIA QUERIES FOR MEDIUM DEVICES =====================  */

@media screen and (max-width: 990px) {
  .intro__container {
    grid-template-columns: 1fr;
  }
}

/* ========================== MEDIA QUERIES FOR MEDIUM DEVICES =====================  */

@media screen and (max-width: 700px) {
  .left h2 {
    font-size: 1.7rem;
  }

  .left span {
    font-size: 1.7rem;
  }

  .left p {
    font-size: 1rem;
  }

  .right p {
    font-size: 1rem;
  }
}
