.container {
  background: url('../../../public/images/blog/LandingBG.webp');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 35vh;
  width: 98.6vw;
  text-align: center;
}

.content {
  position: relative;
  color: var(--color-white);
}

.content h1 {
  font-size: 1.8rem;
  letter-spacing: 0.2rem;
}

.content::after {
  content: '';
  position: absolute;
  top: 0;
  right: -2rem;
  height: 100%;
  width: 0.3rem;
  background: var(--color-white);
}
.content::before {
  content: '';
  position: absolute;
  top: 0;
  left: -2rem;
  height: 100%;
  width: 0.3rem;
  background: var(--color-white);
}
