.form input {
  background-color: var(--color-white);
  padding: 1.2rem 1rem;
  width: 30vw;
  font-size: 1.5rem;
  border-radius: 5rem;
  border: 2px solid var(--color-light-green);
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.form {
  position: relative;
}

.icon {
  background-color: var(--color-light-green);
  height: 98%;
  padding: 1.2rem;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  right: -2rem;
  transform: translate(-50%, -50%);
  font-size: 1.8rem;
  color: var(--color-white);
}

@media (max-width: 900px) {
  .form input {
    width: 80vw;
  }
}

@media (max-width: 600px) {
  .form input {
    width: 90vw;
  }
}
