.description {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  margin: 4rem auto;
}

.item {
  display: flex;
  gap: 4rem;
}

.item:nth-child(2n + 1) {
  flex-direction: row-reverse;
}

.img__container {
  flex: 2;
  width: 30rem;
  height: 30rem;
  position: relative;
}

.img__container > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: var(--radius);
}

.img__container::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 1rem;
  left: -1rem;
  background-color: var(--color-light-blue);
  z-index: -1;
  border-radius: var(--radius);
}

.content {
  flex: 3;
  display: flex;
  align-items: center;
  text-align: justify;
}

/* =========================== FOR SMALL DEVICES =======================  */

@media (max-width: 700px) {
  .item {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .img__container {
    width: 25rem;
    height: 27rem;
  }

  .item:nth-child(2n + 1) {
    flex-direction: column;
  }
}
