.description {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  margin: 4rem auto;
}

.item {
  display: flex;
  gap: 2rem;
  border-radius: 1rem;
}

.item:nth-of-type(even) {
  background-color: var(--color-dark-orange);
  flex-direction: row-reverse;
  color: white;
}

.item:nth-of-type(odd) {
  background-color: var(--color-dark-green);
  color: white;
}

.img__container {
  flex: 1.5;
  position: relative;
}

.img__container > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.item:nth-of-type(odd) .img__container > img {
  border-bottom-left-radius: 1rem;
  border-top-left-radius: 1rem;
}

.item:nth-of-type(even) .img__container > img {
  border-bottom-right-radius: 1rem;
  border-top-right-radius: 1rem;
}

.line {
  background: var(--color-green);
  width: 100%;
  height: 1px;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  line-height: 2rem;
  gap: 1rem;
}

.content span {
  font-size: 1.8rem;
}

.content h2 {
  font-weight: bold;
  font-size: 2.5rem;
  line-height: 1;
  letter-spacing: 1px;
}

/* ========================== MEDIA QUERIES FOR MEDIUM DEVICES =====================  */

@media screen and (max-width: 990px) {
  .item {
    flex-direction: column;
  }

  .item:nth-child(2n) {
    flex-direction: column;
  }
  .item:nth-of-type(odd) .img__container > img {
    border-radius: 0;
  }

  .item:nth-of-type(even) .img__container > img {
    border-radius: 0;
  }
}

/* =========================== FOR SMALL DEVICES =======================  */

@media (max-width: 700px) {
}
