.landing__section {
  width: var(--container-width-lg);
  height: 75vh;
  display: grid;
  grid-template-columns: 40% 60%;
  gap: 4rem;
  place-items: center;
  margin: 0 auto;
}

.landing_img {
  width: 90%;
  height: 90%;
}

.landing_img > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* ========================== MEDIA QUERIES FOR MEDIUM DEVICES =====================  */

@media screen and (max-width: 990px) {
  .landing__section {
    grid-template-columns: 1fr;
    height: 100vh;
  }
}
