.dropDown {
  position: relative;
  cursor: pointer;
  transition: var(--transition);
}

.dropDown p {
  color: var(--color-black);
  font-weight: 600;
}

.dropDown p:hover {
  color: var(--color-primary);
}

.downArrow {
  transition: var(--transition);
}

.dropDown:hover .downArrow {
  transform: rotate(180deg);
}

.dropDown_content {
  display: flex;
  flex-direction: column;
  width: 15rem;
  background: white;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.19);
  position: absolute;
  top: 2rem;
  left: -2rem;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  opacity: 0;
  visibility: hidden;
  transition: opacity 200ms ease-in-out;
  gap: 1rem;
}

.dropDown_content .link {
  display: block;
}

.dropDown:hover .dropDown_content {
  visibility: visible;
  opacity: 1;
}
