.footer {
  background: #f6f7f9;
}

.footer__top {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1.2fr;
  padding: 4rem 0;
  gap: 1.5rem;
}

.footer__socials > img {
  height: 4rem;
  width: 13rem;
}

.logo {
  width: 12rem;
  margin-bottom: 1rem;
}

.icons {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 1.5rem;
  margin-top: 1rem;
}

.icons a {
  transition: var(--transition);
}

.icons a:hover {
  transform: scale(1.2);
}

.footer__services h2 {
  margin-bottom: 1rem;
}

.footer__contact_icon {
  color: var(--color-blue);
  margin-right: 0.5rem;
}

.footer__newsletter p {
  margin: 2rem 0;
}

.form {
  display: flex;
}

/* ==================  FOOTER BOTTOM ================= */

.footer__bottom {
  display: flex;
  justify-content: center;
  padding-bottom: 1rem;
}

/* ========================== MEDIA QUERIES FOR MEDIUM DEVICES =====================  */

@media screen and (max-width: 990px) {
  .footer__top {
    grid-template-columns: 1fr;
  }

  .footer__bottom {
    flex-direction: column;
  }
}
