@import url('https://fonts.googleapis.com/css2?family=Livvic:wght@300;500;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  border: none;
  outline: none;
}

:root {
  --container-width-lg: 90%;
  --container-width-md: 85%;
  --container-width-sm: 90%;
  --color-white: #fff;
  --color-black: #101010;
  --color-light: #444;
  --color-primary: #007bff;
  --color-orange: #fd7e14;
  --color-pink: #e83e8c;
  --color-indigo: #6610f2;
  --color-blue: #007bff;
  --color-teal: #20c997;
  --color-info: #17a2b8;
  --color-darkblue: #03228f;
  --blue: #106eea;

  --transition: all 0.5s ease;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Livvic', sans-serif;
  line-height: 1.7;
}

/* ======================== GENERAL CSS =================== */

a {
  text-decoration: none;
}

img {
  display: block;
  width: 100%;
  object-fit: contain;
}

.container {
  width: var(--container-width-lg);
  margin: 0 auto;
}

h1 {
  font-size: 2.5rem;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 500;
}

.text-light {
  color: var(--color-light);
}

/* ========================== MEDIA QUERIES FOR MEDIUM DEVICES =====================  */

@media screen and (max-width: 990px) {
  .container {
    width: var(--container-width-md);
  }
}

/* ========================== MEDIA QUERIES FOR SMALL DEVICES =====================  */

@media screen and (max-width: 600px) {
  .container {
    width: var(--container-width-sm);
  }
}
