@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;500;600&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  border: none;
  outline: none;
}

:root {
  --container-width-lg: 90%;
  --container-width-md: 85%;
  --container-width-sm: 90%;
  --color-white: #fff;
  --color-black: #101010;
  --color-light: #444;
  --color-orange: orange;
  --color-green: #009300;
  --color-light-green: #03c988;
  --color-orangered: #ff4500;

  --color-fb: #3b5998;
  --color-linkedin: #0a66c2;
  --color-twitter: #00acee;
  --color-youtube: #ff0000;
  --clr-red-special: #b4345c;
  --clr-grey-special: #eae6eb;
  --transition: all 0.3s linear;
  --spacing: 0.1rem;
  --radius: 0.25rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Open Sans', sans-serif;
  line-height: 1.7;
}

/* ======================== GENERAL CSS =================== */

a {
  text-decoration: none;
}

.container {
  width: var(--container-width-lg);
  margin: 0 auto;
}

h1 {
  font-size: 2.5rem;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 500;
}

.text_light {
  color: var(--color-light);
}

.swiper-button-prev,
.swiper-button-next {
  color: var(--color-black) !important;
  margin: 2rem;
}

.container {
  width: var(--container-width-lg);
}

.margin {
  margin: 1rem 0;
}

strong {
  color: var(--color-orangered);
  font-size: 1.2rem;
}

/* ========================== FOR SWIPER JS ===========================  */

@media screen and (max-width: 768px) {
  .swiper-button-prev,
  .swiper-button-next {
    margin: 0rem;
  }
}

/* ========================== MEDIA QUERIES FOR MEDIUM DEVICES =====================  */

@media screen and (max-width: 990px) {
  .container {
    width: var(--container-width-md);
  }
}

/* ========================== MEDIA QUERIES FOR SMALL DEVICES =====================  */

@media screen and (max-width: 600px) {
  .container {
    width: var(--container-width-sm);
  }
}
