.carousel {
  width: 98vw;
  height: 75vh;
  display: grid;
  grid-template-columns: 40% 60%;
  gap: 2rem;
  padding: 2rem;
  place-items: center stretch;
}

.carousel p {
  margin-left: 4rem;
}

.carousel__image > img {
  border-radius: 1rem;
}

/* ========================== MEDIA QUERIES FOR MEDIUM DEVICES =====================  */

@media screen and (max-width: 990px) {
  .carousel {
    grid-template-columns: 1fr;
    height: 100vh;
  }

  .carousel__content {
    font-size: 0.6rem;
  }

  .carousel__image {
    text-align: center;
  }

  .carousel__image > img {
    border-radius: 1rem;
    width: 90%;
  }
}
