.carousel {
  width: 98vw;
  height: 75vh;
  display: grid;
  grid-template-columns: 40% 60%;
  gap: 2rem;
  padding: 2rem;
  place-items: center;
}

.carousel p {
  margin-left: 4rem;
}

.carousel__image > img {
  border-radius: 1rem;
}

.wave {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
  z-index: -1;
}

.wave svg {
  position: relative;
  display: block;
  width: calc(185% + 1.3px);
  height: 500px;
  transform: rotateY(180deg);
}

.shapefill {
  fill: var(--color-light-green);
}

/* ========================== MEDIA QUERIES FOR MEDIUM DEVICES =====================  */

@media screen and (max-width: 990px) {
  .carousel {
    grid-template-columns: 1fr;
    height: 100vh;
  }

  .carousel__image > img {
    border-radius: 1rem;
  }
}
