.landingForm {
  background-color: var(--clr-grey-special);
}

.landingForm__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3rem;
  color: var(--color-black);
  padding: 0.7rem;
}

.landingForm__image > img {
  width: 40rem;
  height: 40rem;
  border-radius: 1rem;
}

.landingForm__container_form {
  padding: 3rem;
}
.form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.landingForm__container_form h2 {
  font-weight: 600;
  margin-bottom: 2rem;
}

.form_inputs {
  display: flex;
  gap: 1rem;
}

.landingForm__container_form input {
  width: 100%;
  height: 3rem;
  padding: 2rem 1rem;
  background: #f6f7f9;
  font-size: 1rem;
  border-radius: 1rem;
}

.landingForm__container_form textarea {
  padding: 2rem 1rem;
  background: #f6f7f9;
  font-size: 1rem;
  border-radius: 1rem;
}

.landingForm__container_form button {
  width: fit-content;
  padding: 1rem 2rem;
  background: linear-gradient(250deg, #4e95ed 19%, #03228f 100%);
  border-radius: 2rem;
  color: var(--color-white);
  transition: var(--transition);
  cursor: pointer;
}

.landingForm__container_form button:hover {
  background: linear-gradient(180deg, #03228f 19%, #4e95ed 100%);
}

/* ========================== MEDIA QUERIES FOR MEDIUM DEVICES =====================  */

@media screen and (max-width: 990px) {
  .landingForm__container {
    grid-template-columns: 1fr;
  }
}
