/* navbar top  */
.navbar_top {
  display: flex;
  justify-content: space-evenly;
  background: var(--color-green);
  color: var(--color-white);
  padding: 0.7rem;
}

.navbar_top_item {
  display: flex;
  gap: 1rem;
  cursor: pointer;
}

.navbar_top_icon {
  width: 2.5rem;
}

.navbar_top_socials {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  font-size: 1.5rem;
}

.navbar_top_socials a {
  color: var(--color-white);
  transition: var(--transition);
}

.navbar_top_socials a:hover {
  color: orange;
}
.navbar_top_content a {
  color: var(--color-white);
}

/* navbar bottom  */

.navbar_bottom {
  display: flex;
  justify-content: space-between;
  padding: 0rem 3rem;
  position: relative;
}

.toggle_btn {
  position: absolute;
  bottom: 3.8rem;
  right: 2rem;
  font-size: 1.7rem;
  display: none;
  cursor: pointer;
  color: var(--color-black);
  transition: var(--transition);
}

.barsIcon {
  transition: var(--transition);
}

.barsIcon:hover {
  transform: rotate(90deg);
}

.logo {
  width: 12rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img_container > img {
  height: 5.5rem;
}

.nav_links {
  display: flex;
  align-items: center;
  gap: 3rem;
}

.links {
  color: var(--color-light);
  transition: var(--transition);
}

.dropDown {
  display: flex;
  align-items: center;
  gap: 1rem;
  position: relative;
  cursor: pointer;
  transition: var(--transition);
}

.dropDown:hover .downArrow {
  transform: rotate(180deg);
}

.dropDown__content {
  display: flex;
  flex-direction: column;
  width: 15rem;
  background: white;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.19);
  position: absolute;
  top: 2rem;
  left: -2rem;
  z-index: 999;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  opacity: 0;
  visibility: hidden;
  transition: opacity 200ms ease-in-out;
  gap: 1rem;
}

.dropDown:hover .dropDown__content {
  visibility: visible;
  opacity: 999;
}

.tel {
  margin-right: 0.3rem;
}

/* ========================== MEDIA QUERIES FOR MEDIUM DEVICES =====================  */

@media screen and (max-width: 990px) {
  .navbar_top {
    display: none;
  }

  .navbar_bottom {
    flex-direction: column;
  }

  .toggle_btn {
    display: block;
    top: 1.5rem;
  }

  .nav_links {
    display: none;
  }

  .show {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
}
