.container__client {
  background: #f6f7f9;
  text-align: center;
  margin-top: 0;
  padding: 3rem;
}

.container__client_images {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 1.5rem;
}

.image {
  display: flex;
  align-items: center;
  justify-content: center;
}

.image > img {
  height: 7rem;
  width: 7rem;
}

/* ========================== MEDIA QUERIES FOR MEDIUM DEVICES =====================  */

@media screen and (max-width: 990px) {
  .container__client_images {
    grid-template-columns: repeat(2, 1fr);
  }
  .image > img {
    height: 12rem;
    width: 12rem;
  }
}

/* ========================== MEDIA QUERIES FOR SMALL DEVICES =====================  */

@media screen and (max-width: 600px) {
  .container__client_images {
    grid-template-columns: 1fr;
  }
}
