.title {
  margin-bottom: 4rem;
  display: flex;
  justify-content: center;
}
.title h2 {
  width: fit-content;
}

.title h2::after {
  content: '';
  display: block;
  width: 100%;
  height: 0.25rem;
  background: var(--color-green);
}

.icon {
  display: inline-block;
  width: 2rem;
}

.icon > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.strong {
  display: flex;
  gap: 1rem;
  justify-content: center;
}

.customLink {
  color: var(--color-black);
  font-size: 1.2rem;
  position: relative;
  width: fit-content;
  margin: 1rem 0;
  z-index: 1;
}

.customLink::after {
  content: '';
  position: absolute;
  width: calc(100% + 1.4rem);
  height: 100%;
  background-color: var(--color-green);
  border-radius: var(--radius);
  z-index: -1;
  top: 0;
  left: -1rem;
  transform: scaleX(0.01);
  transform-origin: left;
  transition: transform 0.25s ease-in;
}

.customLink:hover::after {
  transform: scaleX(1);
}

/* ========================== MEDIA QUERIES FOR SMALL DEVICES =====================  */

@media screen and (max-width: 600px) {
  .icon {
    width: 4rem;
  }
}
