.container {
  width: var(--container-width-lg);
  margin: 0 auto;
  margin: 3rem;
}

.slide {
  background-color: var(--color-white);
  border-radius: 0.9rem;
  box-shadow: 1rem 1rem 0.9rem rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: var(--transition);
  height: 15rem;
}

.slide > img {
  width: 95%;
  object-fit: contain;
}

.slide:hover {
  transform: translateY(-1rem);
}
