.container {
  background-color: #f1f1f1;
}

.btn {
  cursor: pointer;
  padding: 0.7rem;
  color: var(--color-white);
  background: var(--color-dark-orange);
  font-size: 1rem;
  border-radius: var(--radius);
  transition: var(--transition);
}

.btn:hover {
  background-color: var(--color-white);
  border: 1px solid var(--color-dark-orange);
  color: var(--color-dark-orange);
  transition: var(--transition);
}

.btn__container {
  display: flex;
  gap: 1rem;
  justify-content: center;
  padding: 2rem 0;
}

.index__btn {
  border: 1px solid var(--color-dark-green);
  color: var(--color-dark-green);
  padding: 0.3rem 0.9rem;
  border-radius: var(--radius);
  cursor: pointer;
  transition: var(--transition);
}

.active {
  background-color: var(--color-dark-green);
  color: var(--color-white);
}

.index__btn:hover {
  background-color: var(--color-dark-green);
  color: var(--color-white);
}

.prev__btn,
.next__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-dark-green);
  padding: 0.3rem;

  color: var(--color-white);
  font-size: 1.9rem;
  border-radius: var(--radius);
  cursor: pointer;
}
