.testinomials__container {
  text-align: center;
  padding: 1rem 0;
}

.testinomials__content {
  display: grid;
  grid-template-columns: 30% 65%;
  gap: 2rem;
  margin: 4rem 0;
}

.author__img {
  height: 7rem;
  width: 7rem;
  margin: 0 auto;
}

.author__img > img {
  width: inherit;
  height: inherit;
  border-radius: 50%;
  object-fit: cover;
}

.author__info p {
  font-size: 1rem;
  color: var(--color-light);
}

.author__info h2 {
  padding-top: 1.5rem;
  font-weight: 600;
  color: var(--color-orangered);
}

.info {
  text-align: justify;
}

.btn {
  cursor: pointer;
  padding: 0.7rem;
  color: var(--color-white);
  background: var(--color-orangered);
  font-size: 1rem;
  border-radius: var(--radius);
  transition: var(--transition);
}

.btn:hover {
  background-color: var(--color-white);
  border: 1px solid var(--color-orangered);
  color: var(--color-orangered);
  transition: var(--transition);
}

/* ======================== MEDIA QUERY FOR TABLET ==========================  */

@media (max-width: 990px) {
  .testinomials__content {
    grid-template-columns: 1fr;
  }
}
/* ======================== MEDIA QUERY FOR MOBILE ==========================  */
