.aboutSection__container {
  display: flex;
  gap: 5rem;
  margin: 4rem auto;
}

.aboutSection__image {
  width: 100%;
  height: 50vh;
  flex: 1;
}

.aboutSection__image > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 25% 25%;
  border-radius: var(--radius);
}

.aboutSection__description {
  flex: 1;
  border-radius: 2rem;
}

.aboutSection__description p {
  margin: 1rem;
  font-size: 1rem;
  text-align: justify;
}

.strong {
  color: var(--color-black);
}

/* ========================== MEDIA QUERIES FOR MEDIUM DEVICES =====================  */

@media screen and (max-width: 990px) {
  .aboutSection__container {
    flex-direction: column;
  }
}
