.aboutSection__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5rem;
  margin: 4rem auto;
}

.aboutSection__image > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.aboutSection__description h5 {
  border: none;
  border-radius: 2rem;
  background: #1273eb17;
  width: fit-content;
  padding: 0.5rem 1rem;
  color: var(--color-blue);
  margin-bottom: 1rem;
}

.aboutSection__description h4 {
  margin-bottom: 1rem;
  font-size: 1.2rem;
  text-align: justify;
}

.aboutSection__description p {
  margin: 1rem;
  font-size: 1rem;
  text-align: justify;
}

/* ========================== MEDIA QUERIES FOR MEDIUM DEVICES =====================  */

@media screen and (max-width: 990px) {
  .aboutSection__container {
    grid-template-columns: 1fr;
  }
}
